/*
images sourced from
https://businessideasfor2013.blogspot.com/2017/04/texas-outline-map.html
http://art-en-provence.com/blank-map-of-california-printable/
https://www.waterproofpaper.com/printable-maps/nevada/nevada-outline-map.pdf


		<form>
			<div>
				<label>Gender</label>
				<select name="gender">
					<option value="male">Male</option>
					<option value="female">Female</option>
					<option value="other">Other</option>
				</select>
			</div>
		</form>

*/

body{
	background-color: #fff;
	color: #000000;
	font-family: Lucida Bright, serif;
	font-size:14px;
	line-height:1em;
	margin: 5px;
	margin-top: 10px;
}

header {
	background-color: maroon; 
	display: flex;
}

header h1{
	font-size: 50px;
	text-align: center;
	text-decoration-line: underline overline;
	text-decoration-style: double;
	text-decoration-color: maroon;
	position: relative;
}
/*
a {
	color: yellow;
}

a:visited {
	color: gray;
}
*/
header .pic {
	margin-left: 50px;
	border: 5px black outset;
	border-radius: 50px;
}

.container {
	text-align: center;
}

#interests {

}

.traveled {

}

.tx {
	position: relative;
	margin: 5px;
}

.box {
	border: solid black;
	height: 500px;
	position: relative;
}

/* state formatting */
.txtraveled {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
}

.txoverlay {
	position: absolute;
	background-color: #000;
	overflow: hidden;
	width: 33.3%;
	height: 0;
	transition: .5s ease;
}

.txtraveled:hover .txoverlay {
  height: 100%;
}

.catraveled {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
}

.caoverlay {
	position: absolute;
	background-color: #000;
	overflow: hidden;
	width: 33.3%;
	height: 0;
	transition: .5s ease;
}

.catraveled:hover .caoverlay {
  height: 100%;
}

.nvtraveled {
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
}

.nvoverlay {
	position: absolute;
	background-color: #000;
	overflow: hidden;
	width: 33.3%;
	height: 0;
	transition: .5s ease;
}

.nvtraveled:hover .nvoverlay {
  height: 100%;
}

/* end state formatting */
/*
.overlay {
	position: absolute;
	background-color: #000;
	overflow: hidden;
	width: 33.3%;
	height: 0;
	transition: .5s ease;
}

.overlay .text-loc{
	left: 66.7%;
}

.overlay .img-loc{
	left: 33.3%;
}

.box:hover .overlay {
  height: 100%;
} */

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.block {
	float: left;
	width:33.3%;
	border:5px solid #555;
	background-color: #000;
	box-sizing:border-box;
	color: white;
	line-height: 1.5em;
}

.block ul {
	position: relative;
	margin-left: -40px;
	list-style: none;
}

.linkedin {
	border: 0px solid black;
	border-radius: 13px;
}

#main-block {
	display: flex;
	border: 5px solid #555;
	border-radius: 10px;
	padding-left: 1px;
	margin-left: 5%;
	width: 90%;
}

