

body{
	background-color: #fff;
	color: #000000;
	font-family: Lucida Bright, serif;
	font-size:14px;
	line-height:1em;
	margin: 5px;
	margin-top: 10px;
}

header {
}

header h1 {
	font-size: 50px;
	text-align: center;
	text-decoration-line: underline overline;
	text-decoration-style: double;
	text-decoration-color: maroon;
	position: relative;
	margin-top: -100px;
	margin-bottom: 100px;
}

header .pic {
	border: 5px #000000 outset;
	border-radius: 50px;
}

#main-block {
	border: 5px solid #555;
	border-radius: 15px;
}



.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.block{
	float: left;
	width:33.3%;
	border:3px solid #555; 
	border-radius: 2px;
	background-color: #000;
	padding-left: 10px;
	padding-top: 0px;
	box-sizing:border-box;
	color: white;
	line-height: 1.5em;
}

.block ul {
	list-style: none;
}