/*
images sourced from
https://businessideasfor2013.blogspot.com/2017/04/texas-outline-map.html
http://art-en-provence.com/blank-map-of-california-printable/
https://www.waterproofpaper.com/printable-maps/nevada/nevada-outline-map.pdf


		<form>
			<div>
				<label>Gender</label>
				<select name="gender">
					<option value="male">Male</option>
					<option value="female">Female</option>
					<option value="other">Other</option>
				</select>
			</div>
		</form>

*/

*{
	z-index: 500;
}

body{
	/*background-color: #000;*/
	background-color: #000;
	color: #fff;
	font-family: Lucida Bright, serif;
	font-size:14px;
	line-height:1em;
	margin: 5px;
	margin-top: 10px;
}

header {
	background-color: maroon; 
	display: flex;
}

header h1{
	font-size: 50px;
	text-align: center;
	text-decoration-line: underline overline;
	text-decoration-style: double;
	text-decoration-color: maroon;
	position: relative;
}

a {
	color: yellow;
}

a:visited {
	color: gray;
}

header .pic {
	margin-left: 50px;
	border: 5px black outset;
	border-radius: 50px;
}

.container {
	text-align: center;
}

#interests {

}

.box {
	border: solid white;
	left:5%;
	width: 90%;
	height: 500px;
	position: relative;
}

/* state formatting */


/* end state formatting */
/*
.overlay {
	position: absolute;
	background-color: #000;
	overflow: hidden;
	width: 33.3%;
	height: 0;
	transition: .5s ease;
}

.overlay .text-loc{
	left: 66.7%;
}

.overlay .img-loc{
	left: 33.3%;
}

.box:hover .overlay {
  height: 100%;
} 



	
	*/

.contact {
	overflow: hidden;
	position: fixed;
	left: 45%;
	bottom: 0px;
	width: 10%;
	height: 5%;
	background-color: black;
	color: white;
	text-align: center;
	transition: width 2s;
	border: 3px solid white;
	border-bottom-color: black;
}


.cbutton {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: darkgray;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.cbutton:active {
	position: fixed;
	left: 20%;
	bottom: 0px;
	width: 60%;
	height: 10%;
	background-color: black;
	color: white;
	text-align: center;
}

.block {
	float: left;
	width:50%;
	border:5px solid #555;
	background-color: #000;
	box-sizing:border-box;
	color: white;
	line-height: 1.5em;
}

.block ul {
	position: relative;
	margin-left: -40px;
	list-style: none;
}

.linkedin {
	border: 0px solid black;
	border-radius: 13px;
}

#main-block {
	display: flex;
	border: 5px solid #555;
	border-radius: 10px;
	padding-left: 1px;
	margin-left: 5%;
	width: 90%;
}

